body{
    background-image: url(../../clickerImgs/lvl1/desert-landscape-cactuses-illustration-background-600nw-2393586211.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.life {
    width: 50px;
    height: 50px;
    background-image: url(../../clickerImgs/heart.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#ammo_block {
    position: absolute;
    right: 20px;
    top: 10px;
}
#bullet {
    width: 50px;
    height: 50px;
}
.ammoText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(190, 42, 42);
}
#hands_img {
    height: 25vh;
    position: absolute;
    bottom: 0;
    left: 30vw;
    /* width: 35vw; */
    /* margin: -30px 0 0 0; */
}
#monster1 {
    position: absolute;
    width: 5vw;
    left: 20vw;
    bottom: 30vh;
}
#monster2 {
    position: absolute;
    width: 5vw;
    left: 50vw;
    bottom: 30vh;
}
#monster3 {
    position: absolute;
    width: 5vw;
    left: 70vw;
    bottom: 30vh;
}
#container {
    width: 100%;
    height: 100%;
}


.monster, .monster_healthbar_block {
    display: none;
}

.monster_healthbar_block {
    position: absolute;
    bottom: calc(30vh + 50px);
    display: none;
    flex-direction: row;
    height: 10px;
}
.health_red {
    display: inline-block;
    vertical-align: top;
    width: 5vw;
    height: 100%;
    background-color: red;
}
.health_grey {
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 100%;
    background-color: grey;
}

#ammo_box {
    position: absolute;
    display: none;
    width: 10vw;
    z-index: 10;
}
#name {
    position: absolute;
    top: 10px;
    left:100px;
    color: white;
    font-size: 40px;

}
.help {
    position: absolute;
    color: rgb(190, 42, 42);
    /* border: solid 3px burlywood; */
    /* background-color: burlywood; */
    font-size: 24px;
    right: 250px;
    /* right: 30px; */
  }
  .help1 {
    top: 20px;
  }
  /* .info {
    top: 50px;
  } */
  .parachute {
    top: 40px;
  }