body {
    background-image: url(../../img/LvlMonster.img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    user-select: none;
   
-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */


}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.infoHp {
    height: 50px;
    width: 100%;
    gap: 15%;
}

.main {
    width: 100%;
    height: calc(100% - 50px);
}

.score {
    font-size: 110%;
    width: 30%;
    background-image: radial-gradient(circle, #9d007b, #a60096, #a900b5, #a400d8, #9000ff);
    margin-top: 2%;
    color: white;
    gap: 5%;
    padding: 0px;
    border-radius: 10px;
    font-family: "Rubik Mono One", serif;
    text-shadow: 3px 3px rgb(238, 0, 255);
}

.helpBox {
    position: absolute;
    left: 5%;
    top: 15%;
    background-color: #9000ff46;
    font-family: "Rubik Mono One", serif;
    color: aliceblue;
    font-size: 85%;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(234, 0, 255);
}